.timeDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeDiv h1 {
    font-size: 15vw;
    font-family: 'dirk';
    color: #e5e5da;
}

@media only screen and (max-width: 768px) {
    .timeDiv {
        width: 50vw;
        left: 25vw;
        position: relative;
    }
    .timeDiv h1 {
        font-size: 20vw;
        text-align: center;
    }    
}  